@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', monospace;
  background-color: rgb(0, 117, 138);
}

nav {
  background-color: rgb(4, 25, 65);
  background-image: linear-gradient(to left, rgb(0, 0, 0), rgb(4, 25, 65));
}

.container {
  /* CÓDIGO PARA LARGURA DE 1140PX */
  max-width: 100%;
  margin: auto;
  width: 1140px;
  padding-top: 15px;
}

nav {
  width: 100%;
  float: left;
  /* CÓDIGO PARA FLUTUAR */
}

nav h1 img {
  /* CÓDIGO PARA LARGURA DA IMAGEM */
  width: 150px;
}

h1 {
  /* CÓDIGO PARA FLUTUAR */
  float: left;
}

nav ul {
  /* CÓDIGO PARA FLUTUAR */
  float: right;
}

nav ul li {
  display: inline;
  list-style: none;
  padding-right: 20px;
  padding: 35px 15px;
  /* CÓDIGO PARA FLUTUAR */
  float: right;
}
ul li a {
  text-decoration: none;
  text-transform: uppercase;
}

ul li a {
  /* COR DE FUNDO PARA OS LINKS */
  /* COR DA FONTE PARA OS LINKS */
  padding: 6px 26px;
  border: 4px solid transparent;
  color: rgb(140, 192, 192);
  background-color: rgb(10, 67, 151);
}

ul li a:hover {
  background-color: rgb(117, 117, 117);
  color: rgb(0, 0, 35);
  border: 4px solid rgb(0, 0, 0);
}

header img {
  width: 100%;
  border: 4px solid #222;

  height: 300px;
  object-fit: cover;
  object-position: center;
}

.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.col-1 {width: 8.33;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 5px;
}

main img {
  width: 100%;
  border: 5px groove darkblue;
  border-radius: 5px;
}

main.tst {
  background-image: linear-gradient(to right,black,black,red);
  color: white;
}

header.nt5 {
  background-image: linear-gradient(to right,black,black,red);
  color: white;
  text-align: center;
}
main.tt {
  background-image: linear-gradient(35deg,purple,darkblue,rgb(57, 148, 223),rgb(0, 255, 242),rgb(39, 190, 97),orange,rgb(112, 0, 0),black);
}
div.hj {
text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

div .botao1 {
  background-image: linear-gradient(35deg, red,red);
  padding: 5px 10px;
  font-size: 15px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
main.jj {
  background-image: linear-gradient(35deg,rgb(57, 148, 223),rgb(0, 255, 242),black);
}

header.nt5 p a {
text-align: center;
}
div .pc5 {
  background-color: aqua;
}

.center {
  text-align: center;
}

footer {
  /*background-color: #04AA6D;*/
  background-color: black;
  color: white;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 40px;
}
.footert {
  background-color: black;
  color: white;
}

.botaoc {
  background-color: tomato;
  color: white;
}

ul li {
  list-style: none;
}


input[type="text"],
input[type="email"],
textarea,
select {
  width: 100%;
  padding: 6px;
  border: 1px solid #04AA6D;
  margin-bottom: 4px;
  resize: none;
  outline: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  background-color: #04AA6D;
}